    <section class=" sec-dummy-top-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="iconbox-xtiny center"><img src="images/324.png" alt=""/></div>
            <h6 class="uppercase text-brown nopadding">Who We Are</h6>
            <h3 class="uppercase roboto-slab paddtop1">welcome to our cafe</h3>
            <div class="title-line-4 brown less-margin align-center"></div>
            <p class="sub-title-2">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue .</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="sec-bpadding-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 bmargin nopadding "> <img src="http://placehold.it/1500x960" alt="" class="img-responsive"/> </div>
        <!--end item-->
        
        <div class="col-md-6 bmargin padding-left-5">
          <div class="item-holder">
            <h4 class=" text-brown">Praesent Mattis Commodo Augue Cras elit Justo</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  In pulvinar lectus a est posuere cubilia Curae Nullam tellus diam volutpat a laoreet.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  In pulvinar lectus a est posuere cubilia Curae Nullam tellus diam volutpat a laoreet.</p>
            <br/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  In pulvinar lectus a est posuere cubilia Curae Nullam tellus diam volutpat a laoreet.</p>
            <br/>
            <br/>
            <a class="btn btn-border brown">Read more</a></div>
        </div>
        <!--end item--> 
        
      </div>
    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <div id="section-3">
    <section class="parallax-section31">
      <div class="section-overlay bg-opacity-4">
        <div class="container sec-tpadding-3 sec-bpadding-3">
          <div class="row">
            <div class="col-md-6">
              <div class="col-xs-12 text-left">
                <div><img src="images/327.png" alt=""/></div>
                <h6 class="uppercase nopadding text-white">order from online</h6>
                <h3 class="uppercase roboto-slab paddtop1 text-white">special menu</h3>
                <div class="title-line-4 white align-left less-margin"></div>
                <div class="clearfix"></div>
                <p class="text-white">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue .</p>
                <br/>
                <a class="btn btn-border white brown">Read more</a> <a class="btn btn-brown">Order Now</a> </div>
              <div class="clearfix"></div>
            </div>
            <!--end item-->
            
            <div class="col-md-6 bmargin">
              <div class="special-menu-holder bmargin pull-right">
                <div class="text-box">
                  <ul class="price-list">
                    <li> <span class="item">
                      <h5 class="roboto-slab font-weight-3">Etiam dictum Nunc enim</h5>
                      </span> <span class="line">------------</span> <span class="price">
                      <h5 class="text-brown">$19.9</h5>
                      </span> </li>
                    <li> <span class="item">
                      <h5 class="roboto-slab font-weight-3">Suspendisse imperdiet </h5>
                      </span> <span class="line">------------</span> <span class="price">
                      <h5 class="text-brown">$29.9</h5>
                      </span> </li>
                    <li> <span class="item">
                      <h5 class="roboto-slab font-weight-3">Vivamus sit amet felis</h5>
                      </span> <span class="line">------------</span> <span class="price">
                      <h5 class="text-brown">$10.9</h5>
                      </span> </li>
                    <li> <span class="item">
                      <h5 class="roboto-slab font-weight-3">Etiam dictum Nunc enim</h5>
                      </span> <span class="line">------------</span> <span class="price">
                      <h5 class="text-brown">$12.0</h5>
                      </span> </li>
                    <li> <span class="item">
                      <h5 class="roboto-slab font-weight-3">aliquam rhoncus venenatis</h5>
                      </span> <span class="line">------------</span> <span class="price">
                      <h5 class="text-brown">$8.9</h5>
                      </span> </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end item--> 
            
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--end section-->
  <div class="clearfix"></div>
  
  <div id="section-4">
    <section class="sec-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="iconbox-xtiny center"><img src="images/324.png" alt=""/></div>
            <h6 class="uppercase text-brown nopadding">most popular</h6>
            <h3 class="uppercase roboto-slab paddtop1">Our Services</h3>
            <div class="title-line-4 brown less-margin align-center"></div>
            <p class="sub-title-2">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue .</p>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-3 text-center">
            <div class="feature-box48 bmargin">
              <div class="icon"></div>
              <h5 class="uppercase roboto-slab font-weight-4">Espresso</h5>
              <p>Lorem ipsum dolor sit amet, sit et 
                justoconsectetuer adipiscing elit. Suspendisse et justo. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center">
            <div class="feature-box48 bmargin">
              <div class="icon two"></div>
              <h5 class="uppercase roboto-slab font-weight-4">Cappuccino</h5>
              <p>Lorem ipsum dolor sit amet, sit et 
                justoconsectetuer adipiscing elit. Suspendisse et justo. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center">
            <div class="feature-box48 bmargin active">
              <div class="icon three"></div>
              <h5 class="uppercase roboto-slab font-weight-4">Irish Coffee</h5>
              <p>Lorem ipsum dolor sit amet, sit et 
                justoconsectetuer adipiscing elit. Suspendisse et justo. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 text-center">
            <div class="feature-box48 bmargin">
              <div class="icon four"></div>
              <h5 class="uppercase roboto-slab font-weight-4">Frappuccino</h5>
              <p>Lorem ipsum dolor sit amet, sit et 
                justoconsectetuer adipiscing elit. Suspendisse et justo. </p>
            </div>
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </section>
  </div>
  <!--end section-->
  <div class="clearfix"></div>
  
  <div id="section-5">
    <section class="parallax-section32">
      <div class="section-overlay bg-opacity-4">
        <div class="container sec-tpadding-2 sec-bpadding-2">
          <div class="row">
            <div class="col-xs-12 text-center">
              <div class="iconbox-xtiny center"><img src="images/327.png" alt=""/></div>
              <h6 class="uppercase nopadding text-white">Our quality</h6>
              <h3 class="uppercase roboto-slab paddtop1 text-white">Latest From Blog</h3>
              <div class="title-line-4 white less-margin align-center"></div>
              <p class="sub-title-2 text-white">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue .</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
              <div class="blog-holder11 bmargin">
                <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x600" alt="" class="img-responsive"/></a></div>
                <div class="text-box-inner text-left">
                  <h4 class="roboto-slab font-weight-3 less-mar3 uppercase"><a href="#">Cappuccino</a></h4>
                  <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
                  <br/>
                  <p>Lorem ipsum dolor   consectetuer  site adipiscing elit. Suspendisse et justo.</p>
                </div>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-md-4">
              <div class="blog-holder11 bmargin">
                <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x600" alt="" class="img-responsive"/></a></div>
                <div class="text-box-inner text-left">
                  <h4 class="roboto-slab font-weight-3 less-mar3 uppercase"><a href="#">Frappuccino</a></h4>
                  <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
                  <br/>
                  <p>Lorem ipsum dolor   consectetuer  site adipiscing elit. Suspendisse et justo.</p>
                </div>
              </div>
            </div>
            <!--end item-->
            
            <div class="col-md-4">
              <div class="blog-holder11 bmargin">
                <div class="image-holder"><a href="#"><img src="http://placehold.it/1000x600" alt="" class="img-responsive"/></a></div>
                <div class="text-box-inner text-left">
                  <h4 class="roboto-slab font-weight-3 less-mar3 uppercase"><a href="#">Espresso</a></h4>
                  <div class="blog-post-info"> <span><i class="fa fa-user"></i> By Benjamin</span> <span><i class="fa fa-comments-o"></i> 15 Comments</span> </div>
                  <br/>
                  <p>Lorem ipsum dolor   consectetuer  site adipiscing elit. Suspendisse et justo.</p>
                </div>
              </div>
            </div>
            <!--end item--> 
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--end section-->
  <div class="clearfix"></div>
  
  <div id="section-6">
    <section>
      <div class="beans-bg-holder">
        <div class="container sec-tpadding-2 sec-bpadding-2">
          <div class="row">
            <div class="col-md-6 bmargin">
              <div class="col-xs-12 text-center">
                <div class="iconbox-xtiny center"><img src="images/324.png" alt=""/></div>
                <h6 class="uppercase text-brown nopadding">testimonials</h6>
                <h4 class="uppercase roboto-slab paddtop1">People Says</h4>
                <div class="title-line-4 brown less-margin align-center"></div>
              </div>
              <div class="clearfix"></div>
              <br/>
              <div id="owl-demo11" class="owl-carousel">
                <div class="item">
                  <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/120x120" alt="" class="img-responsive"/></div>
                  <div class="text-box-right more-padding-2">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. </p>
                    <div class="divider-line light solid margin"></div>
                    <h6 class="roboto-slab less-mar1">Celina John</h6>
                    <span class="text-brown">Customer</span> </div>
                </div>
                <!--end slide item-->
                
                <div class="item">
                  <div class="iconbox-medium left round overflow-hidden"><img src="http://placehold.it/120x120" alt="" class="img-responsive"/></div>
                  <div class="text-box-right more-padding-2">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. </p>
                    <div class="divider-line light solid margin"></div>
                    <h6 class="roboto-slab less-mar1">Celina John</h6>
                    <span class="text-brown">Customer</span> </div>
                </div>
                <!--end slide item--> 
                
              </div>
              <!--end carousel--> 
              
            </div>
            <!--end item-->
            
            <div class="col-md-6 bmargin">
              <div class="col-xs-12 text-center">
                <div class="iconbox-xtiny center"><img src="images/324.png" alt=""/></div>
                <h6 class="uppercase text-brown nopadding">brandings</h6>
                <h4 class="uppercase roboto-slab paddtop1">our clients</h4>
                <div class="title-line-4 brown less-margin align-center"></div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
              <div class="clearfix"></div>
              <br/>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
              <div class="col-md-4 col-sm-4 nopadding"><img src="http://placehold.it/170x80" alt=""/></div>
            </div>
            <!--end item--> 
            
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--end section-->
  <div class="clearfix"></div>
  
  <div id="section-7"></div>
  <section class="section-dark sec-padding">
    <div class="container ">
      
     <div class="row">
     
     <div class="col-md-4 bmargin">
     <div class="iconbox-small left grayoutline round"><i class="fa fa-users"></i></div>
     <div class="text-box-right more-padding-1">
     <h5 class="text-white roboto-slab uppercase">Address</h5>
     <p>Address: No.28 - 63739 street lorem ipsum City, Country</p>
     
     <p>Address: No.28 - 63739 street lorem ipsum City, Country</p>
     
     </div>
     </div>
     <!--end item-->
     
     <div class="col-md-4 bmargin">
     <div class="iconbox-small left grayoutline round"><i class="fa fa-coffee"></i></div>
     <div class="text-box-right more-padding-1">
     <h5 class="text-white roboto-slab uppercase">working Hours</h5>
     <p>Monday - Friday <br/>10.00 AM - 11.00 PM</p>
     
     <p>Saturday - Sunday <br/>10.00 AM - 4.00 PM</p>
     
     </div>
     </div>
     <!--end item-->
     
     <div class="col-md-4 bmargin">
     <div class="iconbox-small left grayoutline round"><i class="fa fa-phone"></i></div>
     <div class="text-box-right more-padding-1">
     <h5 class="text-white roboto-slab uppercase">Phone and fax</h5>
     <p><i class="fa fa-phone"></i> Phone: + 1 (234) 567 8901</p>
     
     <p><i class="fa fa-fax"></i> Fax: + 1 (234) 567 8901</p>
     
     </div>
     </div>
     <!--end item-->
     
	<div class="clearfix"></div>
    <br/>
    <div class="divider-line solid dark-2"></div>
     <br/>
     <div class="col-md-4 col-md-offset-4">
     <ul class=" social-icons-3 brown">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="active" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-wordpress"></i></a></li>
            <li><a href="#"><i class="fa fa-android"></i></a></li>
          </ul>
          </div>
          
     </div> 

    </div>
  </section>
  <!--end section-->
  <div class="clearfix"></div>
  
  <section class="section-copyrights sec-moreless-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> <span>Copyright © 2015 l yourdomain.com. All rights reserved.</span></div>
      </div>
    </div>
  </section>
  <!--end section-->
