<section class=" sec-dummy-top-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="iconbox-xtiny center"></div>
        <h6 class="uppercase text-brown nopadding">Thank You!</h6>
        <h3 class="uppercase roboto-slab paddtop1">You sent $<%= @amount.chomp('00')%>.00</h3>
        <div class="title-line-4 brown less-margin align-center"></div>
        <!--<p class="sub-title-2">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue .</p>-->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>